$icomoon-font-family: "Unicons" !default;
$icomoon-font-path: "fonts" !default;

$unicon-account: "\e900";
$unicon-activity: "\e901";
$unicon-add-alt: "\e902";
$unicon-add: "\e903";
$unicon-airplay-filled: "\e904";
$unicon-airplay: "\e905";
$unicon-airport-location: "\e906";
$unicon-analytics: "\e907";
$unicon-api: "\e908";
$unicon-archive: "\e909";
$unicon-area: "\e90a";
$unicon-arrow-down: "\e90b";
$unicon-arrow-left: "\e90c";
$unicon-arrow-right: "\e90d";
$unicon-arrow-up-right: "\e90e";
$unicon-arrow-up: "\e90f";
$unicon-asleep: "\e910";
$unicon-attachment: "\e911";
$unicon-audio-console: "\e912";
$unicon-augmented-reality: "\e913";
$unicon-auto-scroll: "\e914";
$unicon-awake: "\e915";
$unicon-back-to-top: "\e916";
$unicon-bar: "\e917";
$unicon-barrier: "\e918";
$unicon-bastion-host: "\e919";
$unicon-blog: "\e91a";
$unicon-book: "\e91b";
$unicon-bookmark-add: "\e91c";
$unicon-bookmark: "\e91d";
$unicon-box: "\e91e";
$unicon-brightness-contrast: "\e91f";
$unicon-brush-freehand: "\e920";
$unicon-building: "\e921";
$unicon-calendar: "\e922";
$unicon-camera: "\e923";
$unicon-carbon: "\e924";
$unicon-caret-down: "\e925";
$unicon-caret-left: "\e926";
$unicon-caret-right: "\e927";
$unicon-caret-sort: "\e928";
$unicon-caret-up: "\e929";
$unicon-carousel-horizontal: "\e92a";
$unicon-carousel-vertical: "\e92b";
$unicon-categories: "\e92c";
$unicon-cd-archive: "\e92d";
$unicon-center-circle: "\e92e";
$unicon-center-to-fit: "\e92f";
$unicon-certificate: "\e930";
$unicon-chart-column: "\e931";
$unicon-chart-line-data: "\e932";
$unicon-chart-pie: "\e933";
$unicon-chart-ring: "\e934";
$unicon-chart-stacked: "\e935";
$unicon-chart-treemap: "\e936";
$unicon-chart-venn-diagram: "\e937";
$unicon-chat-bot: "\e938";
$unicon-chat-launch: "\e939";
$unicon-chat: "\e93a";
$unicon-checkbox-checked: "\e93b";
$unicon-checkbox: "\e93c";
$unicon-checkmark-outline: "\e93d";
$unicon-checkmark: "\e93e";
$unicon-chevron-down: "\e93f";
$unicon-chevron-left: "\e940";
$unicon-chevron-mini: "\e941";
$unicon-chevron-right: "\e942";
$unicon-chevron-sort-down: "\e943";
$unicon-chevron-sort-up: "\e944";
$unicon-chevron-sort: "\e945";
$unicon-chevron-up: "\e946";
$unicon-circle-dash: "\e947";
$unicon-circle-measurement: "\e948";
$unicon-clean: "\e949";
$unicon-close-outline: "\e94a";
$unicon-close: "\e94b";
$unicon-cloud-download: "\e94c";
$unicon-cloud-lightning: "\e94d";
$unicon-cloud-satellite: "\e94e";
$unicon-cloud-upload: "\e94f";
$unicon-cobb-angle: "\e950";
$unicon-code: "\e951";
$unicon-collaborate: "\e952";
$unicon-collapse-all: "\e953";
$unicon-color-palette: "\e954";
$unicon-color-switch: "\e955";
$unicon-column: "\e956";
$unicon-compare: "\e957";
$unicon-condition-point: "\e958";
$unicon-condition-wait-point: "\e959";
$unicon-container-software: "\e95a";
$unicon-contour-finding: "\e95b";
$unicon-contrast: "\e95c";
$unicon-copy-file: "\e95d";
$unicon-copy: "\e95e";
$unicon-course: "\e95f";
$unicon-credentials: "\e960";
$unicon-crop: "\e961";
$unicon-cube-view: "\e962";
$unicon-cube: "\e963";
$unicon-currency-dollar: "\e964";
$unicon-currency: "\e965";
$unicon-cursor-1: "\e966";
$unicon-cursor-2: "\e967";
$unicon-cursor-alt: "\e968";
$unicon-cursor: "\e969";
$unicon-curve-auto-colon: "\e96a";
$unicon-curve-manual: "\e96b";
$unicon-cut-in-half: "\e96c";
$unicon-cut: "\e96d";
$unicon-dashboard-reference: "\e96e";
$unicon-dashboard: "\e96f";
$unicon-data-1: "\e970";
$unicon-data-base-alt: "\e971";
$unicon-data-base: "\e972";
$unicon-debug: "\e973";
$unicon-delete: "\e974";
$unicon-delivery-parcel: "\e975";
$unicon-delivery-truck: "\e976";
$unicon-delivery: "\e977";
$unicon-departure: "\e978";
$unicon-devices: "\e979";
$unicon-diagram: "\e97a";
$unicon-dicom-overlay: "\e97b";
$unicon-direct-link: "\e97c";
$unicon-direction-right-01: "\e97d";
$unicon-direction-straight-right: "\e97e";
$unicon-direction-straight: "\e97f";
$unicon-document-add: "\e980";
$unicon-document-attachment: "\e981";
$unicon-document-blank: "\e982";
$unicon-document-download: "\e983";
$unicon-document: "\e984";
$unicon-dot-mark: "\e985";
$unicon-down-to-bottom: "\e986";
$unicon-download-study: "\e987";
$unicon-download: "\e988";
$unicon-drag-horizontal: "\e989";
$unicon-drag-vertical: "\e98a";
$unicon-draggable: "\e98b";
$unicon-draw: "\e98c";
$unicon-drop-photo-filled: "\e98d";
$unicon-drop-photo: "\e98e";
$unicon-earth-americas: "\e98f";
$unicon-earth-europe-africa: "\e990";
$unicon-earth-filled: "\e991";
$unicon-earth: "\e992";
$unicon-edge-enhancement: "\e993";
$unicon-edit-off: "\e994";
$unicon-edit: "\e995";
$unicon-edt-loop: "\e996";
$unicon-email-new: "\e997";
$unicon-email: "\e998";
$unicon-enterprise: "\e999";
$unicon-erase: "\e99a";
$unicon-error-outline: "\e99b";
$unicon-error: "\e99c";
$unicon-event-schedule: "\e99d";
$unicon-event: "\e99e";
$unicon-events-alt: "\e99f";
$unicon-events: "\e9a0";
$unicon-explore: "\e9a1";
$unicon-export: "\e9a2";
$unicon-eyedropper: "\e9a3";
$unicon-face-dissatisfied: "\e9a4";
$unicon-face-satisfied: "\e9a5";
$unicon-fade: "\e9a6";
$unicon-favorite-filled: "\e9a7";
$unicon-favorite: "\e9a8";
$unicon-file-storage: "\e9a9";
$unicon-filter-edit: "\e9aa";
$unicon-filter: "\e9ab";
$unicon-finance: "\e9ac";
$unicon-fingerprint-recognition: "\e9ad";
$unicon-fire: "\e9ae";
$unicon-flag-filled: "\e9af";
$unicon-flag: "\e9b0";
$unicon-flash-filled: "\e9b1";
$unicon-flash: "\e9b2";
$unicon-flow-connection: "\e9b3";
$unicon-folder-add: "\e9b4";
$unicon-folder-shared: "\e9b5";
$unicon-folder: "\e9b6";
$unicon-folders: "\e9b7";
$unicon-forum: "\e9b8";
$unicon-game-console: "\e9b9";
$unicon-gamification: "\e9ba";
$unicon-gift: "\e9bb";
$unicon-globe: "\e9bc";
$unicon-glyph-caution-inverted: "\e9bd";
$unicon-glyph-caution: "\e9be";
$unicon-glyph-circle-fill: "\e9bf";
$unicon-glyph-square-fill: "\e9c0";
$unicon-glyph-undefined: "\e9c1";
$unicon-gradient: "\e9c2";
$unicon-grid: "\e9c3";
$unicon-group-objects-new: "\e9c4";
$unicon-group-objects-save: "\e9c5";
$unicon-group: "\e9c6";
$unicon-growth: "\e9c7";
$unicon-gui-management: "\e9c8";
$unicon-gui: "\e9c9";
$unicon-hashtag: "\e9ca";
$unicon-headphones: "\e9cb";
$unicon-headset: "\e9cc";
$unicon-help-filled: "\e9cd";
$unicon-help: "\e9ce";
$unicon-hole-filling: "\e9cf";
$unicon-home: "\e9d0";
$unicon-ibm-cloud-pak-security: "\e9d1";
$unicon-iCA-2D: "\e9d2";
$unicon-idea: "\e9d3";
$unicon-identification: "\e9d4";
$unicon-image-copy: "\e9d5";
$unicon-image-search-alt: "\e9d6";
$unicon-image-search: "\e9d7";
$unicon-image: "\e9d8";
$unicon-in-progress: "\e9d9";
$unicon-incomplete: "\e9da";
$unicon-increase-level: "\e9db";
$unicon-industry: "\e9dc";
$unicon-information-filled: "\e9dd";
$unicon-information: "\e9de";
$unicon-insert-page: "\e9df";
$unicon-insert-syntax: "\e9e0";
$unicon-integration: "\e9e1";
$unicon-interactive-segmentation-cursor: "\e9e2";
$unicon-intersect: "\e9e3";
$unicon-inventory-management: "\e9e4";
$unicon-keyboard: "\e9e5";
$unicon-language: "\e9e6";
$unicon-laptop: "\e9e7";
$unicon-lasso-polygon: "\e9e8";
$unicon-lasso: "\e9e9";
$unicon-launch-study-1: "\e9ea";
$unicon-launch-study-2: "\e9eb";
$unicon-launch: "\e9ec";
$unicon-layers: "\e9ed";
$unicon-legend: "\e9ee";
$unicon-license-draft: "\e9ef";
$unicon-lifesaver: "\e9f0";
$unicon-light-filled: "\e9f1";
$unicon-light: "\e9f2";
$unicon-lightning: "\e9f3";
$unicon-link: "\e9f4";
$unicon-list-boxes: "\e9f5";
$unicon-list-bulleted: "\e9f6";
$unicon-list-checked: "\e9f7";
$unicon-list-dropdown: "\e9f8";
$unicon-list-numbered: "\e9f9";
$unicon-list: "\e9fa";
$unicon-location-current: "\e9fb";
$unicon-location: "\e9fc";
$unicon-locked: "\e9fd";
$unicon-login: "\e9fe";
$unicon-logo-delicious: "\e9ff";
$unicon-logo-digg: "\ea00";
$unicon-logo-discord: "\ea01";
$unicon-logo-facebook: "\ea02";
$unicon-logo-flickr: "\ea03";
$unicon-logo-github: "\ea04";
$unicon-logo-google: "\ea05";
$unicon-logo-instagram: "\ea06";
$unicon-logo-linkedin: "\ea07";
$unicon-logo-livestream: "\ea08";
$unicon-logo-medium: "\ea09";
$unicon-logo-pinterest: "\ea0a";
$unicon-logo-quora: "\ea0b";
$unicon-logo-skype: "\ea0c";
$unicon-logo-slack: "\ea0d";
$unicon-logo-snapchat: "\ea0e";
$unicon-logo-stumbleupon: "\ea0f";
$unicon-logo-tumblr: "\ea10";
$unicon-logo-twitter: "\ea11";
$unicon-logo-vmware: "\ea12";
$unicon-logo-xing: "\ea13";
$unicon-logo-youtube: "\ea14";
$unicon-logout: "\ea15";
$unicon-mac-command: "\ea16";
$unicon-mac-option: "\ea17";
$unicon-mac-shift: "\ea18";
$unicon-machine-learning: "\ea19";
$unicon-magic-wand-filled: "\ea1a";
$unicon-magic-wand: "\ea1b";
$unicon-magnify: "\ea1c";
$unicon-manage-protection: "\ea1d";
$unicon-map-center: "\ea1e";
$unicon-map-identify: "\ea1f";
$unicon-map: "\ea20";
$unicon-maximize: "\ea21";
$unicon-media-cast: "\ea22";
$unicon-media-library: "\ea23";
$unicon-menu: "\ea24";
$unicon-meter-alt: "\ea25";
$unicon-meter: "\ea26";
$unicon-microphone-filled: "\ea27";
$unicon-microphone: "\ea28";
$unicon-microscope: "\ea29";
$unicon-migrate-alt: "\ea2a";
$unicon-military-camp: "\ea2b";
$unicon-minimize: "\ea2c";
$unicon-misuse-alt: "\ea2d";
$unicon-misuse-outline: "\ea2e";
$unicon-misuse: "\ea2f";
$unicon-mobile-add: "\ea30";
$unicon-mobile: "\ea31";
$unicon-model-alt: "\ea32";
$unicon-model: "\ea33";
$unicon-money: "\ea34";
$unicon-move: "\ea35";
$unicon-mpr-toggle: "\ea36";
$unicon-music: "\ea37";
$unicon-name-space: "\ea38";
$unicon-navaid-military: "\ea39";
$unicon-new-tab: "\ea3a";
$unicon-nominal: "\ea3b";
$unicon-not-available: "\ea3c";
$unicon-notebook-reference: "\ea3d";
$unicon-notebook: "\ea3e";
$unicon-notification-filled: "\ea3f";
$unicon-notification-new: "\ea40";
$unicon-notification: "\ea41";
$unicon-opacity: "\ea42";
$unicon-open-panel-left: "\ea43";
$unicon-open-panel-top: "\ea44";
$unicon-ordinal: "\ea45";
$unicon-overflow-menu-horizontal: "\ea46";
$unicon-overflow-menu-vertical: "\ea47";
$unicon-overlay: "\ea48";
$unicon-package: "\ea49";
$unicon-page-break: "\ea4a";
$unicon-paint-brush-alt: "\ea4b";
$unicon-paint-brush: "\ea4c";
$unicon-pan-horizontal: "\ea4d";
$unicon-pan-vertical: "\ea4e";
$unicon-panel-expansion: "\ea4f";
$unicon-partnership: "\ea50";
$unicon-password: "\ea51";
$unicon-pause: "\ea52";
$unicon-pedestrian-child: "\ea53";
$unicon-pedestrian-family: "\ea54";
$unicon-pen-fountain: "\ea55";
$unicon-pen: "\ea56";
$unicon-pending: "\ea57";
$unicon-percentage-filled: "\ea58";
$unicon-percentage: "\ea59";
$unicon-phone-ip: "\ea5a";
$unicon-phone: "\ea5b";
$unicon-piggy-bank-slot: "\ea5c";
$unicon-piggy-bank: "\ea5d";
$unicon-pin-filled: "\ea5e";
$unicon-pin: "\ea5f";
$unicon-plane: "\ea60";
$unicon-play-filled-alt: "\ea61";
$unicon-play-filled: "\ea62";
$unicon-play-outline: "\ea63";
$unicon-play: "\ea64";
$unicon-playlist: "\ea65";
$unicon-policy: "\ea66";
$unicon-popup: "\ea67";
$unicon-portfolio: "\ea68";
$unicon-power: "\ea69";
$unicon-presentation-file: "\ea6a";
$unicon-printer: "\ea6b";
$unicon-product: "\ea6c";
$unicon-progress-bar: "\ea6d";
$unicon-purchase: "\ea6e";
$unicon-query: "\ea6f";
$unicon-quotes: "\ea70";
$unicon-radio-button-checked: "\ea71";
$unicon-radio-button: "\ea72";
$unicon-rain-drop: "\ea73";
$unicon-receipt: "\ea74";
$unicon-recently-viewed: "\ea75";
$unicon-recommend: "\ea76";
$unicon-recording-filled-alt: "\ea77";
$unicon-recording-filled: "\ea78";
$unicon-recording: "\ea79";
$unicon-redo: "\ea7a";
$unicon-registration: "\ea7b";
$unicon-reminder: "\ea7c";
$unicon-renew: "\ea7d";
$unicon-repeat: "\ea7e";
$unicon-reply-all: "\ea7f";
$unicon-reply: "\ea80";
$unicon-report-data: "\ea81";
$unicon-report: "\ea82";
$unicon-request-quote: "\ea83";
$unicon-reset-alt: "\ea84";
$unicon-reset: "\ea85";
$unicon-restart: "\ea86";
$unicon-result: "\ea87";
$unicon-roadmap: "\ea88";
$unicon-rocket: "\ea89";
$unicon-rotate-180: "\ea8a";
$unicon-rotate-360: "\ea8b";
$unicon-row: "\ea8c";
$unicon-rss: "\ea8d";
$unicon-rule: "\ea8e";
$unicon-ruler-alt: "\ea8f";
$unicon-ruler: "\ea90";
$unicon-run: "\ea91";
$unicon-save: "\ea92";
$unicon-scale: "\ea93";
$unicon-scales: "\ea94";
$unicon-scalpel-cursor: "\ea95";
$unicon-scalpel-lasso: "\ea96";
$unicon-scalpel: "\ea97";
$unicon-scan: "\ea98";
$unicon-screen: "\ea99";
$unicon-script: "\ea9a";
$unicon-search-locate: "\ea9b";
$unicon-search: "\ea9c";
$unicon-security: "\ea9d";
$unicon-select-01: "\ea9e";
$unicon-select-02: "\ea9f";
$unicon-select-window: "\eaa0";
$unicon-send-alt-filled: "\eaa1";
$unicon-send-alt: "\eaa2";
$unicon-send-filled: "\eaa3";
$unicon-send-to-back: "\eaa4";
$unicon-send: "\eaa5";
$unicon-server-time: "\eaa6";
$unicon-settings-adjust: "\eaa7";
$unicon-settings: "\eaa8";
$unicon-shape-except: "\eaa9";
$unicon-share: "\eaaa";
$unicon-shopping-bag: "\eaab";
$unicon-shopping-cart: "\eaac";
$unicon-shopping-catalog: "\eaad";
$unicon-shrink-screen: "\eaae";
$unicon-shuffle: "\eaaf";
$unicon-signal-strength: "\eab0";
$unicon-skill-level: "\eab1";
$unicon-smoothing-cursor: "\eab2";
$unicon-smoothing: "\eab3";
$unicon-soccer: "\eab4";
$unicon-software: "\eab5";
$unicon-spell-check: "\eab6";
$unicon-split-discard: "\eab7";
$unicon-split-screen: "\eab8";
$unicon-split: "\eab9";
$unicon-spray-paint: "\eaba";
$unicon-stacked-scrolling-1: "\eabb";
$unicon-stamp: "\eabc";
$unicon-star-filled: "\eabd";
$unicon-star: "\eabe";
$unicon-stay-inside: "\eabf";
$unicon-stop-filled-alt: "\eac0";
$unicon-stop: "\eac1";
$unicon-store: "\eac2";
$unicon-string-integer: "\eac3";
$unicon-string-text: "\eac4";
$unicon-sub-volume: "\eac5";
$unicon-subtract-alt: "\eac6";
$unicon-subtract: "\eac7";
$unicon-table: "\eac8";
$unicon-tablet: "\eac9";
$unicon-tag-group: "\eaca";
$unicon-tag: "\eacb";
$unicon-task-add: "\eacc";
$unicon-task-approved: "\eacd";
$unicon-task-view: "\eace";
$unicon-task: "\eacf";
$unicon-template: "\ead0";
$unicon-term: "\ead1";
$unicon-terminal: "\ead2";
$unicon-text-annotation-toggle: "\ead3";
$unicon-text-bold: "\ead4";
$unicon-text-color: "\ead5";
$unicon-text-creation: "\ead6";
$unicon-text-fill: "\ead7";
$unicon-text-font: "\ead8";
$unicon-text-line-spacing: "\ead9";
$unicon-text-mining-applier: "\eada";
$unicon-text-mining: "\eadb";
$unicon-text-underline: "\eadc";
$unicon-theater: "\eadd";
$unicon-thumbnail-1: "\eade";
$unicon-thumbnail-2: "\eadf";
$unicon-thumbs-down: "\eae0";
$unicon-thumbs-up: "\eae1";
$unicon-ticket: "\eae2";
$unicon-time: "\eae3";
$unicon-tool-box: "\eae4";
$unicon-tools-alt: "\eae5";
$unicon-tools: "\eae6";
$unicon-touch-1: "\eae7";
$unicon-touch-interaction: "\eae8";
$unicon-translate: "\eae9";
$unicon-trash-can: "\eaea";
$unicon-trophy: "\eaeb";
$unicon-types: "\eaec";
$unicon-umbrella: "\eaed";
$unicon-unlink: "\eaee";
$unicon-unlocked: "\eaef";
$unicon-upload: "\eaf0";
$unicon-user-avatar-filled-alt: "\eaf1";
$unicon-user-avatar-filled: "\eaf2";
$unicon-user-avatar: "\eaf3";
$unicon-user-multiple: "\eaf4";
$unicon-user: "\eaf5";
$unicon-uv-index: "\eaf6";
$unicon-video-add: "\eaf7";
$unicon-video-chat: "\eaf8";
$unicon-video: "\eaf9";
$unicon-view-filled: "\eafa";
$unicon-view-mode-1: "\eafb";
$unicon-view-mode-2: "\eafc";
$unicon-view-next: "\eafd";
$unicon-view-off: "\eafe";
$unicon-view: "\eaff";
$unicon-virtual-column-key: "\eb00";
$unicon-virtual-private-cloud-alt: "\eb01";
$unicon-visual-recognition: "\eb02";
$unicon-volume-block-storage: "\eb03";
$unicon-volume-up: "\eb04";
$unicon-wallet: "\eb05";
$unicon-warning-alt-filled: "\eb06";
$unicon-warning-alt: "\eb07";
$unicon-warning-filled: "\eb08";
$unicon-warning: "\eb09";
$unicon-wheat: "\eb0a";
$unicon-wifi: "\eb0b";
$unicon-wikis: "\eb0c";
$unicon-word-cloud: "\eb0d";
$unicon-workspace: "\eb0e";
$unicon-zoom-area: "\eb0f";
$unicon-zoom-in-area: "\eb10";
$unicon-zoom-in: "\eb11";
$unicon-zoom-out-area: "\eb12";
$unicon-zoom-out: "\eb13";
$unicon-zoom-reset: "\eb14";

